<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>amazon.vivek</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="navbar">
        <div class="nav_logo border">
            <div class="logo">

            </div>
        </div>
        <div class="navadd border">
            <p class="firstadd">Deliver to</p>
            <div class="location"><img src="img/location.png" alt="location" height="18px">
                <p class="secondadd">India</p>
            </div>
        </div>
        <div class="nav-search">
            <select name="" id="" class="search-select">
                <option value="">All</option>
            </select>


            <input type="search" placeholder="  Search Amazon" class="search-input">

            <div class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="flag-us border">
            <img src="img/flag-us.png" alt="flag-us" height="25px">
            <p>EN</p>

        </div>

        <div class="sign-in border">
            <p><span>Hello, sign in</span></p>
            <p class="navtext">Account & Lists</p>
        </div>
        <div class="return border">
            <p><span>Returns</span></p>
            <p class="navtext">& Orders</p>
        </div>
        <div class="cart border">
            <i class="fa-solid fa-cart-shopping"></i>Cart

        </div>
        <!-- <ul>

            <li><a href="#"> </a> </li>
            <li><a href="#"> </a> </li>
            <li><a href="#"> </a> </li>
            <li><a href="#"> </a> </li>
        </ul> -->
    </div>
    <div class="panel">

        <div class="icon border ">
            <i class="fa-solid fa-bars"></i>
            <p>All</p>
        </div>
        <div class="menu-item">
            <ul>
                <li><a href="#" class="border">Today's Deals</a></li>
                <li><a href="#" class="border">Customer Service</a></li>
                <li><a href="#" class="border">Registry</a></li>
                <li><a href="#" class="border">Gift Cards</a></li>
                <li><a href="#" class="border">Sell</a></li>
            </ul>
        </div>

        <div class="deals">
            Shop deals in Electronics
        </div>
    </div>


    <main class="mainbox">
        <div class="banner-box">

            <div class="hero-msg">
                <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast local
                    delivery. <a href="">Click here to go to amazon.in</a></p>
            </div>
        </div>

    </main>
    <div class="product-box">
        <div class="box1 box">
            <div class="box-content">
                <h3> Deals and Promotions </h3>
                <div class="box-img" style="background-image: url('img/box1_img.jpg');"></div>
                <p>Shop now</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h3> Fashion trends you like </h3>
                <div class="small-box-container">
                    <div class="outer-box">
                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box2.1_img.jpg');">
                            </div>
                            <p>Dresses</p>
                        </div>

                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box2.2_img.jpg');">
                            </div>
                            <p>Knits</p>
                        </div>
                    </div>
                    <div class="outer-box">
                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box2.3_img.jpg');">
                            </div>
                            <p>Jackets</p>
                        </div>

                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box2.4_img.jpg');">
                            </div>
                            <p>Jewelry</p>
                        </div>
                    </div>
                </div>
                <p>Explore more</p>

            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h3> Find your ideal TV </h3>
                <div class="box-img" style="background-image: url('img/box3_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="hide-box">
            <div class="signin-box">
                <h3> Sign in for the best experience </h3>
                <div class="signin-yellow1">
                    <div class="signin-yellow">
                        <p>Sign in securely</p>

                    </div>
                </div>
            </div>
            <div class="adv-box" style="background-image: url('img/box4.2_img.jpg');">
            </div>

        </div>

        <div class="box1 box">
            <div class="box-content">
                <h3> Shop best-selling categories </h3>
                <div class="box-img" style="background-image: url('img/box5_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>

        <div class="box1 box">
            <div class="box-content">
                <h3> Refersh your space </h3>
                <div class="box-img" style="background-image: url('img/box6_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>

        <div class="box1 box">
            <div class="box-content">
                <h3> Health & Personal Care </h3>
                <div class="box-img" style="background-image: url('img/box7_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>

        <div class="box1 box">
            <div class="box-content">
                <h3> Beauty picks </h3>
                <div class="box-img" style="background-image: url('img/box8_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>

        <div class="box1 box">
            <div class="box-content">
                <h3> Refersh your space </h3>
                <div class="box-img" style="background-image: url('img/box9_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>

        <!-- one in four image -->
        <div class="box">
            <div class="box-content">
                <h3> Fashion trends you like </h3>
                <div class="small-box-container">
                    <div class="outer-box">
                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box10.1_img.jpg');">
                            </div>
                            <p>Apparel</p>
                        </div>

                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box10.2_img.jpg');">
                            </div>
                            <p>Hats</p>
                        </div>
                    </div>
                    <div class="outer-box">
                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box10.3_img.jpg');">
                            </div>
                            <p>Action figures</p>
                        </div>

                        <div class="outer-box1">
                            <div class="small-box-img" style="background-image: url('img/box10.4_img.jpg');">
                            </div>
                            <p>Mugs</p>
                        </div>
                    </div>
                </div>
                <p>Explore more</p>

            </div>
        </div>


        <!-- one in four img end -->

        <div class="box1 box">
            <div class="box-content">
                <h3> Health & Personal Care </h3>
                <div class="box-img" style="background-image: url('img/box11_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>

        <div class="box1 box">
            <div class="box-content">
                <h3> Beauty picks </h3>
                <div class="box-img" style="background-image: url('img/box12_img.jpg');"></div>
                <p>See more</p>
            </div>
        </div>
    </div>




    <footer>
        <div class="signin-bottom">
            <p class="para-black">See personalized recommendations</p>
            <div class="signin-yellow2">
                <div class="signin-yellow3">
                    <p>Sign in</p>
                </div>
                <p>New customer? <a href="#">Start here.</a></p>
            </div>
        </div>

        <div class="back-to-top">
            <p class="para-white">Back to top</p>
        </div>

        <div class="footer-panel-last">
            <div class="get-to-know-us">
                <ul>
                    <h2>Get to Know Us</h2>
                    <a href="">Careers</a>
                    <a href="">Blog</a>
                    <a href="">About Amazon</a>
                    <a href="">Investor Relations</a>
                    <a href="">Amazon Devices</a>
                    <a href="">Amazon Science</a>

                </ul>

            </div>
            <div class="get-to-know-us">
                <ul>
                    <h2>Make Money with Us</h2>
                    <a href="">Sell products on Amazon</a>
                    <a href="">Sell on Amazon Business</a>
                    <a href="">Sell apps on Amazon</a>
                    <a href="">Become an Affiliate</a>
                    <a href="">Advertise Your Products</a>
                    <a href="">Self-Publish with Us</a>
                    <a href="">Host an Amazon Hub</a>
                    <a href=""><i class="fa-solid fa-greater-than"
                            style="font-size: smaller; margin-right: 4px;"></i>See More Make Money with Us</a>

                </ul>

            </div>
            <div class="get-to-know-us">
                <ul>
                    <h2>Amazon Payment Products</h2>
                    <a href="">Amazon Business Card</a>
                    <a href="">Shop with Points</a>
                    <a href="">Reload Your Balance</a>
                    <a href="">Amazon Currency Converter</a>


                </ul>

            </div>
            <div class="get-to-know-us">
                <ul>
                    <h2>Let Us Help You</h2>
                    <a href="">Amazon and COVID-19</a>
                    <a href="">Your Account</a>
                    <a href="">Your Orders</a>
                    <a href="">Shipping Rates & Policies</a>
                    <a href="">Returns & Replacements</a>
                    <a href="">Manage Your Content and Devices</a>
                    <a href="">Amazon Assistant</a>
                    <a href="">Help</a>

                </ul>

            </div>
        </div>

        <div class="end-logo">
            <div class="end-logo-img" style="background-image: url('img/amazon_logo.png'); margin-right: 100px;">
            </div>
            <div class="end-icon para-white">
                <ul>

                    <div class="last-box1"><i class="fa-solid fa-globe" style="margin-right: 5px;"></i> English</div>
                    <div class="last-box1"> <i class="fa-solid fa-dollar-sign" style="margin-right: 5px;"></i>USD-U.S. Doller</div>
                    <div class="last-box1"> <img src="img/flag-us.png" alt="" height="18px" style="margin-right: 5px;"> <p>United States </p></div>


                </ul>
            </div>

        </div>
        </div>
        <div class="last-img">
            <img src="img/footer.PNG" alt="footer">
        </div>
    </footer>
    </div>
</body>

</html>