<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="submitform.css">
    <title>Contact Form</title>
</head>
<body>
    <div class="container">
        <form action="" id="loginForm">
          <h1>Login</h1>
          <input type="text" id="username" class="form-control" placeholder="Enter your Username...">
          <input type="password" id="password" class="form-control" placeholder="Enter your Password...">
          <button type="submit">Submit</button>
        </form>
      </div>
      
      <script src="submitform.js"></script>
</body>
</html>

