<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="mediaquery.css">
    <link rel="stylesheet" href="clock.css">
    <link rel="stylesheet" href="submitform.css">
<link rel="icon" href="/logo.ico" type="image/x-icon">
</head>

<body>
    
    <nav class="navbar">
        <h1 class="firstname">
            Vivek Singh's Portfolio
        </h1>
        <ul class="menu">
            <li><a href="#" id="home">HOME</a></li>
            <li><a href="#devider1">ABOUT</a></li>
            <li><a href="#devider2" id="skills">SKILLS</a></li>
            <li><a href="#devider3" id="projects">PROJECTS</a></li>
            <li><a href="#devider4" id="contacts">CONTACTS</a></li>
        </ul>
    </nav>
    <section class="firstsection">
        <div class="left_intro">
            <div class="intro">
                Hi, My name is <span class="color">Vivek Singh and I am a passionate <span class="color" id="element">

      </span>      </div>
            <div class="buttons">
                <a href="Resume.pdf" target="_blank"><button class="btn"> Download CV </button>
                </a>
                <button class="btn"> Hire Me Now! </button>

            </div>
        </div>

        <div id="clock">
            <div id="hour">

            </div>
            <div id="min">

            </div>
            <div id="sec">

            </div>
        </div>
        <div class="image">
            <img src="image/dev img.png" alt="">
        </div>

    </section>

    <hr id="devider1" class="devider">
    <div id="secondsection"></div>


    <!-- -------    SECOND SECTION (ABOUT ME) ------------>

    <section class="secondsection" >
        <div class="image_about">
            <img src="image/about.png" alt="" srcset="">
        </div>
        <div class="text_about">
            <h1>About <span class="color">Me </span></h1>
            <h3>Graphic Designer & Front-End-Developer </h3>
            <p>I am a dynamic front-end developer with a strong foundation in graphic design, boasting two years of
                experience. My creativity and professional skills shine through in my work, making me a valuable asset
                to any team. With two successful freelancing projects under my belt, I've demonstrated my ability to
                craft visually appealing and responsive websites that prioritize user experience. I'm passionate about
                my craft and deeply committed to optimizing website performance and ensuring accessibility for all
                users. My project management expertise and collaborative approach further enhance my reputation as a
                skilled and dedicated front-end developer.</p>
        </div>

    </section>

    <hr id="devider2" class="devider">
    <div id="thirdsection"></div>
    <!-- --------------------------------------third section -------------------------------------- -->
    <!-- --------------------------------------third section -------------------------------------- -->


    <div class="skills_type">
        <h1>My Technical and Professional <span class="color">Skills </h1>
    </div>
    <section class="thirdsection">


        <div class="left_s">
            <h1 class="skill_head">Technical Skills</h1>

            <div class="progress_t">
                <div class="info">
                    <img src="image/html-2.png" alt="">
                    <p>HTML</p>
                    <p>80%</p>
                </div>
                <div class="bar html"><span></span>
                </div>
            </div>
            <!-- <div class="t-1">CSS</div> -->
            <div class="progress_t">
                <div class="info">
                    <img src="image/css.png" alt="">
                    <p>CSS</p>
                    <p>60%</p>
                </div>
                <div class="bar css"><span></span>
                </div>
            </div>
            <!-- <div class="t-1">JAVA SCRIPT</div> -->
            <div class="progress_t">
                <div class="info">
                    <img src="image/javascript.png" alt="">
                    <p>JAVA SCRIPT</p>
                    <p>50%</p>
                </div>
                <div class="bar javascript"><span></span>
                </div>
            </div>

            <div class="progress_t">
                <div class="info">
                    <img src="image/react.png" alt="">
                    <p>REACTJS</p>
                    <p>60%</p>
                </div>
                <div class="bar premier_pro"><span></span>
                </div>
            </div>


            <div class="progress_t">

                <div class="info">
                    <img src="image/photoshop.png" alt="">
                    <p>ADOBE PHOTOSHOP</p>
                    <p>80%</p>
                </div>
                <div class="bar photoshop"><span></span>
                </div>
            </div>



            <!-- <div class="t-1">ADOBE ILLUSTRATOR</div> -->
            <div class="progress_t">
                <div class="info">
                    <img src="image/illustrator.png" alt="">
                    <p>ADOBE ILLUSTRATOR</p>
                    <p>70%</p>
                </div>
                <div class="bar illustrator"><span></span>
                </div>
            </div>
            <!-- <div class="t-1">ADOBE PREMIER PRO</div> -->
            <div class="progress_t">
                <div class="info">
                    <img src="image/premier pr.png" alt="">
                    <p>ADOBE PREMIER PRO</p>
                    <p>60%</p>
                </div>
                <div class="bar premier_pro"><span></span>
                </div>
            </div>
            <!-- <div class="t-1">COREL</div> -->
            <div class="progress_t">
                <div class="info">
                    <img src="image/corel.png" alt="">
                    <p>COREL</p>
                    <p>70%</p>
                </div>
                <div class="bar corel"><span></span>
                </div>
            </div>
            <!-- <div class="t-1">HTML</div> -->


        </div>


        <div class="right_s">
            <h1 class="skill_head">Professional Skills</h1>

            <div class="progress_p">
                <div class="p-1">
                    <div class="pie">

                        <span class="progress_cre redial_progress">90</span>
                    </div>
                    <span> CREATIVITY </span>
                </div>


                <div class="p-1">
                    <div class="pie">

                        <span class="progress_tea redial_progress">80</span>
                    </div>
                    <span> TEAM WORKs </span>
                </div>
                <div class="p-1">
                    <div class="pie ">

                        <span class="progress_pro redial_progress">80</span>
                    </div>
                    <span> PROJECT MANAGEMENT </span>
                </div>
                <div class="p-1">
                    <div class="pie ">
                        <span class="progress_com redial_progress">60</span>

                    </div>
                    <span> COMMUNICATIONs </span>
                </div>
            </div>
        </div>

    </section>

    <hr id="devider3" class="devider">
 <div id="fourthsection"></div>
    <!-------------------------- fourth section ------------------------------------------>
    <!-------------------------- fourth section ------------------------------------------>


    <div class="projects">
        <h1>Latest <span class="color">&nbsp;Projects </h1> </span>
    </div>
    <section class="fourthsection">
        <div class="mainbox_project">
            <!-- <img src="image/projects-3.png" alt="" class="projects"> -->
            <div class="box-p"><img src="image/p-1.jpg" alt="">
                <div class="content-p">
                    <h2> Project-1 </h2> <!-- ../ to goback to parent dic -->
                    <p>Food4U App using ReactJS</p>
                    <div class="project-link"> <a href="https://food4-u-tau.vercel.app/" target="_blank"
                            class="link-p"><i class="fa-2x fa-solid fa-arrow-up-right-from-square"></i></a> </div>
                </div>
            </div>
            <div class="box-p"><img src="image/p-2.jpg" alt="">
                <div class="content-p">
                    <h2> Project-2 </h2>
                    <p>Contnet writing, Image Creation and Uploading on educationnest website</p>
                    <div class="project-link"> <a href="https://educationnest.com/courses/" target="_blank" class="link-p"><i
                                class="fa-2x fa-solid fa-arrow-up-right-from-square"></i></a> </div>
                </div>
            </div>
            <div class="box-p"><img src="image/p-3.jpg" alt="">
                <div class="content-p">
                    <h2> Project-3 </h2>
                    <p>Creating images and website for Natkhat Shala Therapy Center</p>
                    <div class="project-link"> <a href="/NATKHATSHALA/index.html" target="_blank" class="link-p"><i
                                class="fa-2x fa-solid fa-arrow-up-right-from-square"></i></a> </div>
                </div>
            </div>
            <div class="box-p"><img src="image/p-4.jpg" alt="">
                <div class="content-p">
                    <h2> Project-4 </h2>
                    <p> Creating my own Portfolio Website </p>
                    <div class="project-link"> <a href="#" target="_blank" class="link-p"><i
                                class="fa-2x fa-solid fa-arrow-up-right-from-square"></i></a> </div>
                </div>
            </div>
            <div class="box-p"><img src="image/p-5.jpg" alt="">
                <div class="content-p">
                    <h2> Project-5 </h2>
                    <p>Create Media Player for my own website</p>
                    <div class="project-link"> <a href="/Media Player/index.html" target="_blank"
                            class="link-p"><i class="fa-2x fa-solid fa-arrow-up-right-from-square"></i></a> </div>
                </div>
            </div>
            <div class="box-p"><img src="image/p-6.jpg" alt="">


                <div class="content-p">
                    <h2> Project-6 </h2>
                    <p>Create a tic-tac-toe game for my own website</p>
                    <div class="project-link"> <a href="/tic-tac-toe project/index.html" target="_blank"
                            class="link-p"><i class="fa-2x fa-solid fa-arrow-up-right-from-square"></i></a> </div>
                </div>
            </div>
        </div>
    </section>
    <hr id="devider4" class="devider">
    <div id="fifthsection"></div>

    <!-- ------------------------------fifth section----------------------------- -->
    <!-- ------------------------------fifth section----------------------------- -->


    <!-- <div class="contacts">
        <h1><span class="color">Contact </h1>
    </div> -->
    <section class="fifthsection">
        <div class="mainbox_contacts">

            <div class="box-c">
                <form    id="loginForm">
                    <div class="input"><input  type="text" id="contact_name" placeholder="  Enter Your Name" size="80" class="name" required></div>
                    <div class="input"><input id="contact_email" type="Email" placeholder="  Enter Your Email" size="80" class="name" required>
                    </div>
                    <div class="input"><input type="text" id="contact_subject" placeholder="  Enter Your Subject" size="80" class="name" required>
                    </div>
                    <textarea name="" id="message" class="message" cols="33" rows="6"
                        placeholder=" Enter Your Message" > </textarea><br>
                    <button type="submit"  class="name submit">Submit</button>

                   
                </form>
              
            </div>
            <!-- <img src="image/contacts-2.png" alt="" class="projects"> -->



            <div class="box-c">
                <div class="about_contact">
                    <h1>Contact <span class="color">Me</span></h1>
                    <h3>Let's Work Together</h3>
                    <p>I'm excited to work with you on your next project. Whether you have a web design idea in mind or
                        need a passionate front-end developer to bring your vision to life, I'm here to help. Feel free
                        to reach out, and let's make something amazing together. Your dream project deserves a dedicated
                        partner, and I'm ready to be just that. Let's connect and start working together!"</p>

                    <a href="#" target="_blank"> vivek081094@gmail.com</a>
                    <a href="#" target="_blank">7830248421</a>
                    <div class="social_media">
                        <div class="linkedin s-icon" title="linkedin"> <a href="#" target="_blank"><img
                                    src="image/linkedin.png" alt=""></a></div>
                        <div class="facebook s-icon" title="facebook"><a href="#" target="_blank"><img
                                    src="image/facebook.png" alt=""></a></div>
                        <div class="twitter s-icon" title="twitter"><a href="#" target="_blank"><img
                                    src="image/twitter.png" alt=""></a></div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- <hr id="devider"> -->

    <!-- -----------------------footer---------------------------- -->
    <!-- -----------------------footer---------------------------- -->


    <footer>

        <p>copyright &copy; 2023 by viveksingh | All Rights Reserved.</p>
    </footer>


    <script src="script.js"></script>
    <script src="clock.js"></script>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
    <script src="https://kit.fontawesome.com/3f77acbad6.js" crossorigin="anonymous"></script>
    <script>
        var typed = new Typed('#element', {
            strings: [' Graphic Designer', 'Front-End Developer', ' Graphic Designer', 'Front-End Developer'],
            typeSpeed: 50,
        });
    </script>
    <script src="submitform.js"></script>
</body> 

</html>

