@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Serif&family=Poppins:wght@400;800&display=swap');

/* font-family: 'Fjalla One', sans-serif; */

/* font-family: 'Noto Serif', serif; */

/* font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #1f2833;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* -----------------------------------NAVBAR SECTION------------------------ */


.navbar {
    height: 6vw;
    width: 100%;
    background-color: #0b0c10;
    color: 66fcf1;
    display: flex;
    justify-content: space-around;
    color: #66fcf1;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: fixed;

    /* !Note */
    z-index: 2;
    top: 0;
}

.navbar>h1 {
    margin-left: -153px;
    color: #66fcf1;
    transition: transform 1s;

}


.navbar>h1:hover {
    color: #0bd7c8;
    cursor: pointer;
    transform: scale(1.1);
}

.menu {

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-right: -160px;

    /* font-family: 'Poppins', sans-serif; */


}

.navbar ul li {
    list-style-type: none;
    margin: 0 23px;
    color: 66fcf1;

    /* font-size: large; */

}

.menu a {
    text-decoration: none;
    color: #66fcf1;
    transition: transform 1s;


}

.menu a:hover {
    text-decoration: none;
    color: #66fcf1;
    font-weight: bold;
    text-decoration: underline solid orangered 20%;
    /* text-decoration-color: orangered; */
    text-underline-offset: 5px;
    cursor: pointer;
    transform: scale(1.1);
}


/* ----------------------------FIRST SECTION-----------------------------------  */
/* ----------------------------FIRST SECTION-----------------------------------  */

.firstsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 106px;
    width: 100%;
    /* height: auto; */

}

.color {
    color: #66fcf1; 
}


.left_intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    width: 50%;
    /* align-items: center; */
}

.intro {
    display: flex;
    flex-direction: column;
    font-weight: bold;

    font-size: 3rem;
    margin-left: 20px;
    height: 25vw;
}



.image img {

    width: 70%;
    transition: transform 0.5s;
}

.image:hover img {

    /* width: 75%; */
    transform: scale(1.1);
    cursor: pointer;
}

.buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1;
    /* cursor: pointer; */
    /* margin: 50px 20px; */
    /* margin-left: -190px; */
}



.btn {
    background-color: #1f2833;
    color: white;

    margin-left: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: .9rem;
    height: 44px;
    width: 148PX;
    box-shadow: #0bd7c8;
    border-radius: 8px;
    box-shadow: 1px 1px 11px 0px #66fcf1 ;
    /* position: relative; */
    /* overflow: hidden; */
    /* z-index: 1; */
}

.btn:hover {
    /* background-color: var(--body-color); */
    background-color: #167777;
    /* font-weight: bolder; */
    
    text-shadow: #167777;
    transform: scale(1.1);
    cursor: pointer;
}

.devider {
    width: 80%;
    margin: auto;
    align-items: center;
    height: 3px;
    background-color: #66fcf1;

}

/*------------------------------------------------------------------- SECOND SECTION ----------------------------------*/
/*------------------------------------------------------------------- SECOND SECTION ----------------------------------*/


.secondsection {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    padding: 15px 30px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 125px;
}

.image_about {
    width: 40%;
    height: 40vw;
    position: relative;
}

.image_about img {
    width: 70%;
    position: absolute;
    top: 75px;
    transition: transform 0.5s;
}

.image_about:hover img {
    /* width: 75%; */
    transform: scale(1.1);
    cursor: pointer;
}

.text_about h1 {
    line-height: 50px;
}


.text_about h3 {
    line-height: 50px;
}

.text_about {
    width: 60%;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

}


/* -------------------------------- THIRD SECTION ------------------------------ */
/* -------------------------------- THIRD SECTION ------------------------------ */

.skills_type {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;

}

.thirdsection {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    /* align-items: center; */
    padding: 15px 30px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 125px;


}

.left_s {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 50%;
    height: 45vw;

}

.left_s>h1 {
    margin-bottom: 10px;
}

.progress_t {
    margin: 20px 0;
}

.progress_t .info>img{
    width: 25px;
}

.progress_t .bar {

    width: 30vw;
    height: 6px;
    background-color: #0b0c10;
    /* border: 1px solid white; */
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
    box-shadow: 1px 1px 11px 0px #66fcf1 ;
}

.progress_t .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* line animation keyframe */
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress_t .bar span {
    /* width: 50%; */
    height: 100%;
    background-color: #66fcf1;
    position: absolute;
    /* left: 0; */
    border-radius: 25px;

    /* animation */
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1)forwards;
}



.progress_t .photoshop span {
    width: 90%;
}

.progress_t .illustrator span {
    width: 70%;
}

.progress_t .premier_pro span {
    width: 60%;
}

.progress_t .corel span {
    width: 70%;
}

.progress_t .html span {
    width: 80%;
}

.progress_t .css span {
    width: 60%;
}

.progress_t .javascript span {
    width: 50%;
}

/* --------------------------manually fill % or i can write using css --------------------------- */

.progress_t .javascript span::after {
    content: 50%;
}

.right_s {
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
    width: 50%;
    height: 30vw;
}

.right_s>h1 {
    margin-bottom: 20px;
}

.progress_p {
    display: grid;
    grid-template-rows: repeat(2, 20vw);
    grid-template-columns: repeat(2, 20vw);
    

    position: relative;


}

.progress_p .p-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.pie {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
     background: conic-gradient(#66fcf1 0deg, #0b0c10 55deg);
    position: relative;
    box-shadow: 1px 1px 11px 0px #66fcf1 ;
}

.redial_progress{
    position: relative;
    font-size: 1.5rem;
    font-weight: 700;
    color: #66fcf1;
}

.pie+span {
    margin: 20px 0;
}


.pie::before {
    content: "";
    height: 135px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    background-color: #1f2833;
    /* fill: transparent; */
    box-shadow: 1px 1px 11px 0px #66fcf1 inset;
}

/*---------------------------  fourthsection ----------------------------*/
/*---------------------------  fourthsection ----------------------------*/

.projects {
    display: flex;

    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    align-items: center;
    margin-top: 90px;

}

.fourthsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;

}

.mainbox_project {
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: repeat(2, 20vw);
    grid-template-columns: repeat(3, 20vw);
    height: 50vw;
    width: 100%;
}

.box-p {
    background-color: #1f2833;
    border-radius: 20px;
    /* border: 2px solid #66fcf1; */
    margin: 8px -56px;
    overflow: hidden;
    /* cursor: pointer; */
    position: relative;
    box-shadow: 1px 1px 11px 0px #66fcf1;

}

.box-p img{
    /* note:- to fit img in give box set width 100% */
    width: 100%;
    height: 100%;
    
border-radius: 20px;
display: block;
transition: transform 1s;
}

.content-p{
    width: 100%;
    height: 0%;
    display: flex;
 flex-direction: column;
 
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 1s;
    color:white;
    /* note rbga a=alpha used for opacity: ; */
    background: linear-gradient(rgba(0,0,0,0.1), #1c3c63);
    border-radius: 20px;
    overflow: hidden;
}

.content-p h2{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.content-p p{
    color: white;
    font-weight: 500;
}

.content-p a i{
    margin-right: 10px;
    color: white;
    width: 20px;
    height: 20px;
}

.project-link{
width: 55px;
height: 55px;
background-color: #1c3c63;
border-radius: 50%;
margin-top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box-p:hover img{
    transform: scale(1.4);
}
.box-p:hover .content-p{
    height: 100%;
}


/*--------------------- fifthsection ----------------------------------*/
/*--------------------- fifthsection ----------------------------------*/


.contacts {
    display: flex;
    font-family: 'Poppins', sans-serif;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}


.fifthsection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.mainbox_contacts {
    display: grid;
    grid-template-rows: repeat(2, 20vw);
    grid-template-columns: repeat(2, 45vw);
}


.box-c>form {
    margin: 20px 0;
    /* text-align: center; */

}

.name {
    height: 26px;
    width: 80%;
    margin: 5px 20px;
    border-radius: 6px;
}

.message {
    /* height: 200px; */
    text-align: left;
    width: 80%;
    margin: 10px 20px;
    border-radius: 10px;    
    

}





.submit {
    font-size: medium;
    height: 36px;
    color: #1c3c63;
    font-weight: bold;
    background-color: #66fcf1;
    border-radius: 15px;
    transition: transform 1s;
    box-shadow: 1px 1px 11px 0px #66fcf1 ;
}

.submit:hover {

    background-color: #0bd7c8;
    /* color: #d8d5d5; */
    cursor: pointer;
    font-size: large;
    transform: scale(1.03);
}

.about_contact {
    display: flex;
    flex-direction: column;
    font-size: .95rem;

}

.about_contact>h1 {
    margin: auto;
}


.about_contact>h3 {
    margin-top: 20px;
}

.about_contact>p {

    margin: 20px 0;
}

.about_contact>a {
    text-decoration: none;
    color: #66fcf1;

}

.social_media {
    width: 20%;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    position: relative;
    left: -10px;
}

.social_media img {
    height: 30px;
    width: 30px;
    padding: 10px;
    transition: transform 1s;
}

.social_media img:hover{
    transform: scale(1.5);
}
footer {
    height: 6vw;
    background-color: #0b0c10;
    color: 66fcf1;
    display: flex;
    justify-content: space-around;
    color: #66fcf1;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: -85px;
    /* position: sticky; */
}

footer p {
    margin-top: 10px;
    font-size: small;
}


