<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic-Tac-Toe Game</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li>GameWorld</li>
            <li><a href="index.html" target="_blank">gameworld.com</a></li>

        </ul>
    </nav>

    <div class="maincontainer">
        <div class="container">
            <div class="line" ></div>
            <div class="box b-t b-l" ><span class="pic"></span></div>
            <div class="box b-t "><span class="pic"></span></div>
            <div class="box b-t b-r"><span class="pic"></span></div>
            <div class="box  b-l"><span class="pic"></span></div>
            <div class="box"><span class="pic"></span></div>
            <div class="box b-r"><span class="pic"></span></div>
            <div class="box b-b b-l"><span class="pic"></span></div>
            <div class="box b-b "><span class="pic"></span></div>
            <div class="box b-b b-r"><span class="pic"></span></div>
        </div>
        <div class="gameinfo">
            <h1>Welcome to my game world!</h1>
            <div class="gameinfo-2"><span class="info">Turn for X </span>
                <br>
            <button id="reset">RESET</button>
            </div>
            <div class="imgbox" >
                <img src="file\excited.gif" alt="excited" >
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>