@import "../../vars.css";

.container{
display: flex;
position: relative;
justify-content: space-between;
align-items: center;
z-index: 1;
margin-top: 69px;
margin-left: 5%;
margin-right: 5%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    color: var(--color-text);
    width: 50vw;
}

.title{
    font-family: var(--font-roboto);
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 23px;    
    /* background: linear-gradient(90deg, rgba(255, 255, 255, 1)70%, rgba(255, 255, 255, 0)120% );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.heading{
    font-family: var(--color-text);
    font-size: 50px;
    font-weight: 500;
    color: var(--color-text);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1)70%, rgba(255, 255, 255, 0)120% );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description{
    font-family: var(--color-text);
    font-size: 20px ;
    margin-bottom: 30px;
    color: var(--color-text);
}

.aboutImg{
   width: 30%; 
   z-index: 1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}



@keyframes floating{
    0%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0, -0px)

    }

}


@media  screen and (max-width:830px) {
    .aboutImg{
        display: none;
    }

    .content{
        width: 80vw;
    }
}

.color{
    color: #66b5fc; 
}