<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VLC Media Player</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <img src="file/logo-1.png" alt="" class="src">
            <h1>VLC Media Player</h1>
        </div>
        <ul class="menu">
            <li>Premium</li>
            <li>Support</li>
            <li> | </li>
            <li>Sign up</li>
            <li>Log in</li>
        </ul>
    </nav>
    <div class="container">
        <div class="playlist">
            <h2 class="heading" > VLC Top 8 Songs </h2>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img      alt="cover_img">
                    <span class="songName">   </span>
                    <!-- <span class="songlistplay"> -->
                        <span class="songlistplay"><span class="timestamp "><span class="timming"> 04:04</span><i id="0"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                            <!-- </span> -->
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming"> 03:14</span><i id="1"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming">03:19 </span><i id="2"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming">02:53 </span><i id="3"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming"> 04:28</span><i id="4"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming">04:26 </span><i id="5"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming">03:08 </span><i id="6"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>
            <div class="songitemcontainer">
                <div class="songItem">
                    <img  alt="cover_img">
                    <span class="songName">   </span>
                    <span class="songlistplay"><span class="timestamp "><span class="timming">06:30</span><i id="7"
                                class="far songItemPlay fa-play-circle play_btn2"></i> </span></span>
                </div>
            </div>

        </div>



    </div>
    <div class="footer">
        <input type="range" id="progressbar" min="0" max="100" value="0">
        <div class="icon">
            <!-- <img src="file/play.png" alt="play"> -->
            <!-- <i class="fas fa-2x fa-step-backward" id="back"></i> -->
            <!-- <i class="far fa-2x fa-play-circle" id="masterplay"></i> -->
            <!-- <i class="fas fa-2x fa-stop" id="stop"></i>  -->
            <!-- <i class="fas fa-2x fa-step-forward" id="next"></i>  -->
            <!-- <i class="fas fa-2x fa-volume" id="volume"></i>  -->
            <!-- <i class="fas fa-3x fa-step-forward" id="next"></i>  -->
            <img src="file/stop.png" alt="stop"  class="stop_btn btn" id="stop-btn"  >
            <img src="file/backward.png" alt="previous" class="btn" id="previous">
           <img src="file/play.png" alt="play" class="play_btn btn" id="masterplay">
            <img src="file/pause-btn.png" alt="pause"  class="pause_btn btn" id="pause-btn" >
            <img src="file/forward.png" alt="next" class="btn" id="next">
            <!-- <img src="file/volume.png" alt="volume"> -->
            <!-- <i class="fa-sharp fa-solid fa-volume"></i> -->

        </div>
<div class="songinfo">
    <img src="file/playing.gif" alt="playing_gif" srcset="" id="gif"> <span id="MasterSongName">Zihaal e Miskin</span>
</div>
    </div>
    <div class="bottom">
        <div class="blogo">
            <img src="file/logo-1.png" alt="" class="src" >
            <h3>VLC Media Player</h3>
        </div>
        <div class="contact">
            <div class="company">
                <ul>
                    <li>COMPANY</li>
                    <li>About</li>
                    <li>Jobs</li>
                    <li>For the Record</li>
                </ul>
            </div>
            <div class="communities">
                <ul>
                    <li>COMMUNITIES</li>
                    <li>For Artists</li>
                    <li>Developers</li>
                    <li>Advertising</li>
                    <li>Investors</li>
                    <li>Vendors</li>
                </ul>
            </div>
            <div class="usefullinks">
                <ul>
                    <li>USEFUL LINKS</li>
                    <li>Support</li>
                    <li>Web Player</li>
                    <li>Free Mobile</li>
                </ul>
            </div>
        </div>
        <div class="socialmedia icon">

           <a href="https://www.instagram.com/" target="_blank"><img src="file/instagram.png" alt="back" ></a>
            <a href="https://twitter.com/" target="_blank"><img src="file/twitter.png" alt="back" ></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="file/facebook.png" alt="back" ></a>
        </div>
    </div>
    <script src="script_player.js"></script>
    <script src="https://kit.fontawesome.com/26504e4a1f.js" crossorigin="anonymous"></script>
</body>

</html>